body {
  font-family: 'Spoqa Han Sans Neo';
  color: #fff;
  padding: 50px;
  width: 550px;
  margin: 0 auto;
  background-color: #374954;

  /* 드래그 방지 */
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}