.container {
  display: flex;
  flex-wrap: wrap;
}

.warningMessage {
  color: red;
}

.button {
  width: 100px;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6BBE92;
}

.input {
  resize: none;
  border: 1px solid #6BBE92;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 13px;
  width: 15rem;
  margin-right: 10px;
}